@import url(https://fonts.googleapis.com/css?family=Nunito);.logo-default {
  width: 200px;
  height: 75px;
  min-height: 75px;
  margin: auto !important;
}

#employees-table_filter > label > input[type="search"] {
  max-height: 25px;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

